<div class="container">
  <h2>New in Smartphons</h2>

  <div class="more-products">
    <product>
      <h4 class="title">New in iphone</h4>
      <button class="btn">Show More in Iphone</button>
    </product>
    <product>
      <h4 class="title">New in Pixel</h4>
      <button class="btn">Show More in Pixel</button>
    </product>
    <product>
      <h4 class="title">New in Samsung</h4>
      <button class="btn">Show More in Samsung</button>
    </product>
    <product>
      <h4 class="title">New in Oppo</h4>
      <button class="btn">Show More in Oppo</button>
    </product>
  
  </div>
</div>